# IDE and OS
.DS_Store
.vscode/
.idea/
*.suo
*.user

# .NET / C#
api-gateway/bin/
api-gateway/obj/

# Java / Maven / Spring Boot
core-service/target/
*.class
*.log
*.jar
*.war

# Environment Files
.env

# Docker Volumes
pgdata/

#Report Files
Report_Files/